.manucontainer {
  height: 50 px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  border: 2px solid lightgray;
  display: flex;
  flex-direction: row-reverse;
}

.logoimg {
  height: 50px;
  width: auto;
}

.itemcontainer {
  width: 120px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: gray;
}
